<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd"> -->
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.udemy.java.test.DriverTest"/>
      <class name="com.udemy.java.test.BrokenLinkTest"/>
      <class name="com.udemy.java.test.PaymentScreenTest"/>
      <class name="com.udemy.java.test.HoverableDropDownTest"/>
      <class name="com.udemy.java.test.BrokenLinkTestAnyMatch"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
